<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magebees" translate="label" sortOrder="100">
            <label>MageBees</label>
        </tab>
        <section id="productlabel" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Product Labels</label>
            <tab>magebees</tab>
            <resource>Magebees_Productlabel::configuration_settings</resource>
			<group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General</label>
				<field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1"> 
					<label>Enable Product Label</label> 
					<comment><![CDATA[Select Yes for display label on frontend.]]></comment> 
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model> 
				</field>
			</group>
			<group id="support" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Info</label>
				<field id="style" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1"> 
					<label>Info</label> 
					<frontend_model>Magebees\Productlabel\Block\Adminhtml\System\Config\Support</frontend_model>
				</field>
			</group>
		</section>
    </system>
</config>
